<!DOCTYPE html>
<html lang="en-US" ng-app="listApp">
    <head>
        <title>HTML Page</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>   
        <script type="text/javascript" src="resources/JS/UsingAngular.js"></script>
    </head>
    <body ng-controller="listController">
        <h1>List of Items</h1>
        <hr />
        <ol>
            <li ng-repeat="item in items">
                {{item}}
            </li>
        </ol>
        <hr />
        <form>
            <fieldset>
                <legend>Add New Item</legend>
                <input type="text" ng-model="newItem" placeholder="Item Text" />
                <button ng-click="addItem()">&#43;</button>
            </fieldset>
        </form>
    </body>
</html>